<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Sebastian Design</title>
        <meta name="description" content="Walter Sebastian Carrera's Interaction Design Portfolio">
        <meta name="author" content="Walter Sebastian Carrera" />
        <meta name="keywords"  content="interaction design,UX,UI,web design,portfolio" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">

        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />

        <script src="https://kit.fontawesome.com/f8b14333ef.js"></script>
    </head>
    <body> 
        <div class="container">
            <!--Page Header-->
            <header>
                <!--Logo-->
                <div class="brand">
                    <a href="/">
                        <object class="logo" type="image/svg+xml" data="images/logotype.svg"></object>
                    </a>
                </div>
                <!--Navbar-->
                <nav class="nav">
                    <ul class="nav-items">
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a target="_blank" href="pdf/carrera_walter_resume.pdf">Resume</a></li>
                    </ul>
                </nav>
                <div class="menu">
                    <i id="nav-toggler" class="fas fa-plus"></i>
                </div>
            </header>
            <!--Sidebar-->
            <nav id="sidebar">
                <ul class="sidebar-items">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a target="_blank" href="pdf/carrera_walter_resume.pdf">Resume</a></li>
                </ul>
            </nav>
            <section class="about">
                <img src="images/me.jpg">
                <div class="about-info">
                    <h2>About Myself</h2>
                    <p>I am the kind of person that wants to help people and lead them to better places. I pour my heart and soul into everything I do, so that I know that I did my best. These values are at the core of who I am and who I continue to strive to be.</p>
                    <p>As a designer, I am able to channel my values into my work. Every phase, from planning to implementing, is done with care and with consideration of who the design is for. That is what I believe Interaction Design is all about.</p>
                </div>
            </section>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>