<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Sebastian Design</title>
        <meta name="description" content="Walter Sebastian Carrera's Interaction Design Portfolio">
        <meta name="author" content="Walter Sebastian Carrera" />
        <meta name="keywords"  content="interaction design,UX,UI,web design,portfolio" />

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="site.webmanifest">

        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/main.css" />

        <script src="https://kit.fontawesome.com/f8b14333ef.js"></script>
    </head>
    <body> 
        <div class="container">
            <!--Page Header-->
            <header>
                <!--Logo-->
                <div class="brand">
                    <a href="/">
                        <object class="logo" type="image/svg+xml" data="images/logotype.svg"></object>
                    </a>
                </div>
                <!--Navbar-->
                <nav class="nav">
                    <ul class="nav-items">
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a target="_blank" href="pdf/carrera_walter_resume.pdf">Resume</a></li>
                    </ul>
                </nav>
                <div class="menu">
                    <i id="nav-toggler" class="fas fa-plus"></i>
                </div>
            </header>
            <!--Sidebar-->
            <nav id="sidebar">
                <ul class="sidebar-items">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a target="_blank" href="pdf/carrera_walter_resume.pdf">Resume</a></li>
                </ul>
            </nav>
            <section class="contact">
                <object class="hand" type="image/svg+xml" data="images/logo.svg"></object>
                <div class="contact-info">
                    <h2>Get in touch</h2>
                    <p>I am currently accepting any commision, collaboration or project work. If you are interested in working with me, or if you have any questions, please do not hesitate to contact me directly by e&#45;mail at <a class="blue" href="mailto:w_carrera@sebastiandesign.ca">w_carrera@sebastiandesign.ca</a>, or through my social channels below.</p>
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/waltersebacarrera"><img src="images/fbLogo.png" title="Facebook"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/waltersebastiancarrera"><img src="images/inLogo.png" title="LinkedIn"></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/walterseba"><img src="images/twLogo.png" title="Twitter"></a>
                        </li>
                        <li>
                            <a href="https://github.com/sebastiandesign/"><img src="images/gitLogo.png" title="GitHub"></a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <script src="js/main.js"></script>
    </body>
</html>