 <section class="hero" id="HERO">
    {{#each piece}}
        <div class="portfolioTile">
            <a href="#{{ div_id }}">
                <div class="box">
                    <img class="tileImage" src="images/{{ image }}" alt="{{ title }}">
                </div>
            </a>
        </div>
    {{/each}}
</section>